/* .alex-test {
    font-size: 200px;
} */

/* .homeBG {
 display: flex;
 justify-content: center;
 background-position: center;
 background-size: cover;

} */

.subLogo {
    max-width: 300px;
}

.starLogo {
    max-width: 300px;
}