@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300;400&display=swap');

.subLogo {
    max-width: 300px;
}

.starLogo {
    max-width: 300px;
}

.text {
    font-family: 'Raleway', sans-serif;
}

Footer {
    position: bottom;
    left: 0;
    bottom: 0;
    right: 0;
}

.main {
    min-height: 50vh; /* or the minimum height of your content */;
  }

.imageBG {
    background-image: url('../images/botwFieldBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.login {
    display: flex;
    justify-content: center;
}

.signBG {
    background-image: url('../images/subLogoBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.subBG {
    background-image: url('../images/subBG.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.gather {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    opacity: 90%;
    margin-left: 100px;
    margin-right: 100px;
}